<head>
    <p class="title">Your drink is...</p>
    <ul>
    <h1>Drink Name: </h1><li><%= locals.drinkName %></li> 
    
    <h1>Drink Category:</h1><li><%= locals.drinkCategory %></li>
    <h1>Drink Instructions:</h1> <li><%= locals.drinkInstructions %></li>
    <h1>The drink is :</h1>
    <li><%= locals.drinkOH %></li>
    
    <h1>Drink Glass: </h1>
    <li><%= locals.drinkGlass %></li>
    
    <h1>Ingredients:</h1>
    <li><%= locals.drinkIngredient1 %></li>
    <li><%= locals.drinkIngredient2 %></li>
    
    <li><%= locals.drinkIngredient3 %></li>
    
    <li><%= locals.drinkIngredient4 %></li>
    </ul>
    
    <h2>Refresh the page for a different cocktail </h2>
    </head>
    
    
    <style>
        head{
            background-color: #48d1cc;
            height: 100vh;
        }
        .title{
            color: maroon;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
            text-align: center;
        }
        h1{
            color: goldenrod;
            font-family: 'Times New Roman', Times, serif;
        }
        li{
            color: rgb(79, 37, 37);
            font-family: 'Courier New', Courier, monospace;
            font-size: 2rem;
        }
      h2{
        text-align: center;
      }
    </style>